@charset "UTF-8";

*{
margin: 0;
padding: 0;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

div{
    margin: auto;
}

#menutop{
    padding: 12px 0px 12px 338px;
    font-size: 17px;
    font-weight: 500;
}

#menutop a{
    color: black;
    text-decoration: none;
    padding-left: 10px;
}

#menutop a:hover{
    text-decoration: underline rgb(180, 30, 19);
     text-decoration: underline; text-decoration-color: rgb(251, 156, 45); text-decoration-thickness: 4px; text-underline-offset: 11px;
}

#claro{
    height: 80px;
    margin: -26px 0px -26px 0px;
}

#menubot{
    background-color:rgb(218, 41, 28);
    padding: 20px 0px 20px 338px;
    font-size: 16px;
    font-weight: 700;
}

#menubot a{
    color: white;
    text-decoration: none;
    padding-left: 30px;
}


h2{
    padding-bottom: 20px;
    font: bolder 32px 'times new roman';   
}

h3{
    font-size: 16px;
    font-weight: 500;
}

.textos{
        margin: 105px 0px 0px 350px;
}

.box-active{
    display: inline-flex;
    height: 530px;
    width: 300px;
    border:5px solid red;
    border-radius: 15px;
}

.card{
    margin: 0px;
}

.card-top-header{
    height: 50px;
    width: 300px;
}

.card-top-header > h3{
    display: inline-flex;
    background-color: lightgreen;
    padding: 2px 5px 2px 5px;
    margin: 10px;
    font-size: 13px;
    font-weight: 600;
}

.card-top-header > p{
    display: inline;
    background-color: red;
    padding: 12px 15px 5px 15px;
    margin-left: 20px;
    border-radius: 0px 0px 10px 10px;
    font-size: 18px;
    font-weight: 600;
    color: white;
}

.card-top-main{
    margin: 5px 0px 0px 10px;
}

.card-top-main > h2{
    padding: 0px 0px 5px 0px;
    font: 700 25px 'times new roman';
}

.card-top-main > h3{
    color: red;
    font-size: 13px;
    font-weight: 600;
}

.card-middle{
    margin: 80px 0px 80px 10px;
    color: rgb(82, 82, 82);
    font-size: 12px;
    font-weight: 700;
}

.card-middle > ul{
    list-style-type: none;
}

.card-middle-text{
    padding: 0px 0px 10px 0px;
}

.card-bottom{
    padding: 50px 0px 0px 0px;
    border-top: 1px solid lightgrey;
}


.bottom-price{
    display: inline-flex;
}

.bottom-price > p{
    display: inline;
    padding: 0px 20px 0px 5px;
    color: rgb(82, 82, 82);
    font-size: 16px;
    font-weight: 600;
    }

.bottom-price-in{
    display: inline-flex;
}

.bottom-price-in > span{
    text-align: left;
}

.preco{
    padding-top: 5px;
    font-size: 16px;
    font-weight: 700;
    }

.preco1{
    margin-top: -20px;
    padding-left: 5px;
    font-size: 36px;
    font-weight: 700;
   }

.preco2{
    margin-top: -12px;
    font-size: 16px;
    font-weight: 700;
    }

.bottom-action-b{
    display: block;
    height: 35px;
    width: 260px;
    margin-top: 40px;
    background-color: rgb(254, 192, 36);
    border-radius: 20px;
    text-align: center;
    font-size: 17px;
    font-weight: 600;
}

.bottom-action-b :hover{
    height: 35px;
    border-radius: 20px;
    background-color: rgb(251, 156, 45);
}

.bottom-action > a{
    display: block;
    padding-top: 15px;
    text-align: center;
    color:rgb(0, 129, 143) ;
    font-weight: 400;
    font-size: 17px;
    }