@charset "UTF-8";

@media screen and (min-width: 768px) {
    
    menu{
        display: block;
    }

    menu > ul > li{
        display: inline-block;
        border-radius: 10px;
    }

    #menu-icon{
        display: none;
    }

    main{
        width: 768px;
    }
}