@charset "UTF-8";

:root {
  /* forma de salvar cores, fontes, etc. */
  --font1: Arial, Helvetica, sans-serif;
  --font2: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --font3: Verdana, Geneva, Tahoma, sans-serif;

  --cor1: rgb(132, 169, 140);
  --cor2: rgb(202, 210, 197);
  --cor3: rgb(53, 79, 82);
}

* {
  /* configuração global */
  margin: 0px;
  padding: 0px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: black;
}

mark {
  background-color: lightgreen;
  color: black;
  padding: 3px;
  font-weight: bolder;
}

h2 {
  padding: 40px 10px 5px 30px;
}

h3 {
  padding: 25px 10px 5px 30px;
  color: lightgreen;
}

p {
  padding: 10px 30px;
  line-height: 30px;
}

blockquote {
  padding-left: 50px;
}

img,
audio,
video {
  padding: 20px 30px;
}

.subtitulo {
  text-align: center;
  margin: 3px;
  font-size: 17px;
}

.importante {
  color: red;
}

nav {
  text-align: center;
  font-size: 2em;
}

a {
  text-decoration: none;
}

a:hover {
  color: greenyellow;
  text-decoration: underline;
}

ol,
dl {
  padding: 7px 5px 5px 50px;
}

ul {
  padding: 0px 5px 5px 50px;
}

iframe {
  padding: 5px 5px 5px 30px;
}

li,
dt {
  padding: 5px 0px;
}

dd {
  padding-left: 50px;
}

nav {
  padding: 80px 0px;
}
nav > ul {
  list-style: none;
}

.index {
  text-align: center;
  padding: 70px;
}

table {
  background-color: rgb(100, 24, 24);
  border-collapse: collapse;
  height: 50px;
  width: 500px;
}

tbody tr:nth-child(even) {
  /* pode-se utilizar 2n no lugar de even. ou outro numero qualquer tipo 3n (vai pular 2 e afetar 1) */
  background-color: lightcoral;
}

tbody tr:nth-child(odd) {
  /* pode-se utilizar 2n-1, isso vai dar o mesmo efeito de odd. */
  background-color: lightgrey;
  color: black;
}

th,
td {
  border: 1px black solid;
}

caption {
  background-color: rgb(100, 24, 24);
  border: 1px solid black;
  border-collapse: collapse;
}
