@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root{
    --Normal: Verdana, Geneva, Tahoma, sans-serif;
    --Destaque: "Passion One", sans-serif;
    --Paragrafo:"Sriracha", cursive;
}

*{
    margin: 0px;
    padding: 0px;
}

#titulo{
    background-color: black;
    color: white;
    text-align: center;
    padding: 45px 0px;
}


h1{
    font-family: var(--Destaque);
    font-weight: 700;
    font-style: normal;
    font-size: 192px;
}

#titulo > p{
    font-family: var(--Normal);
}

.normal{
    font-family: var(--Paragrafo);
    font-weight: 400;
    font-style: normal;
    font-size: 67px;
}

.imagem{
    font-family: var(--Paragrafo);
    font-weight: 400;
    font-style: normal;
    font-size: 67px;
    background-color: rgba(0, 0, 0, 0.479);
    background-attachment: fixed;
    color: white;
}

.imagem > p{
    background-color: rgba(0, 0, 0, 0.486);
    display: inline;
}

#img1{
    background-image: url(imagens/background001.jpg);
}

#img2{
    background-image: url(imagens/background002.jpg);
}

.creditos{
    height: 40px;
    display: flex;
    background-color: black;
    color: white;
    font-family: var(--Normal);
    font-size: 17px;
    justify-content: center;
    justify-items: center;
}

.creditos a{
    text-decoration: none;
    color: white;
}

.creditos a:hover{
    text-decoration: underline;
}