@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    width: 100vw;
    height: 100vh;
    background-color: #233eff;
    background-repeat: no-repeat;
    background-size: contain;
}

h1{
    background-color: rgb(146, 146, 146);
    text-align: center;
    padding: 10px;
}

/* Estilo Paisagem = Landscape */
@media screen and (orientation:landscape) {
body{
    background-image: url(imagens/cev-landscape.jpg);
    background-repeat: no-repeat;
    background-position: left bottom;
}    
}

/* Estilo Retrato = Portrait */
@media screen and (orientation:portrait) {
body{
    background-image: url(imagens/cev-portrait.jpg);
    background-position: bottom center;
}    
}