@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

html{
    width: 100vw;
}

body{
    background-color: #dddddd;
}

h1{
    padding: 40px;
    background-color: #cbcbcb;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    font-size: 2.4em;
    gap: 0.7em;
    color: #292929;
}

#prestige{
    height: 1em;
    display: block;
}

section{
    position: relative;
}

#region-product img{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -110%);
    height: 30px;
}

#main-product img{
    height: auto;
    width: 90vw;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 18%);
}

#name-product{
    display: block;
    font-size: 7em;
    width: 100vw;
    text-align: right;
    position: absolute;
    transform: translateY(-19%);
    right: 20px;
    color: #cbcbcb;
}