@charset "UTF-8";

/* Estilo principal = all */

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    width: 100vw;
    height: 100vh;
    background-color: #233eff;
    background-repeat: no-repeat;
    background-size: contain;
}

h1{
    background-color: rgb(146, 146, 146);
    text-align: center;
    padding: 10px;
}