@charset "UTF-8";
@font-face {
    font-family: fae; 
    src: url(fontes/Roboto-Black.ttf) format('truetype');
    /*Tipos de formatos:
    - opentype (otf)
    - truetype (ttf)
    - embedded-opentype
    - truetype-aat (Apple advanced typography)*/
}

*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: linear-gradient(to right,#0c5043,#047958,#48D995);
}
main{
    background-color: rgb(104, 104, 104);
    width: 600px;
    height: 500px;
    padding: 20px;
    border-radius: 5px;
    margin: auto;
    box-shadow: 5px 5px 13px #0c5044b4; 
    /*parametro de sombra: lado, baixo, espalhar, transparencia.Sempre com espaço entre eles.*/
}
h1{
    text-align: center;
    text-shadow: 1px 1px 0px #00000062;
}
h2#doido{  /*ID especifico*/
    color: orange;
}
.teste{    /*Class (junção de varios id.*/
    color: red;
}
p{
    text-align: justify;
    text-indent: 15px;
}

main {
    text-align: center;
    font-size: 1.5em;
}

nav > a{
    text-decoration: none;
    display: none
}

nav > a:hover{
    color: #48D995;
}
nav:hover > a{
    display: inline;
}

/*
Dicas:

Shorthand: Juntar varios comando em uma unica linha.

ex: font-family: 'Work Sans', sans serif;
    font-weight: bolder;
    font-size: 3em;
    font-style: italic;

    (style) -> (font-weight) -> (font-size) -> (font-family)
    font: italic bolder 3em 'Work Sans', sans-serif;

Medidas Absolutas
px, cm, mm, in, pt, pc
Medidas Relativas
em, ex, rem, vw, vh, %
*/